@import "./block/nav.scss";
@import "./block/header";
@import "./block/main_top";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.global-btn-style {
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #C9453B;
}

.container{
    padding-left: 210px;
    padding-right: 210px;
}

@media (max-width: 1120px){
    .container{
        padding-left: 160px;
        padding-right: 160px;
    }
}
@media (max-width: 950px){
    .container{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width: 750px){
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
}